<!DOCTYPE html>
<html lang="en" class="app">
<head>
<meta charset="utf-8" />
<title>Music</title>
<meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="/musicJFinal/js/jPlayer/jplayer.flat.css" type="text/css" />
<link rel="stylesheet" href="/musicJFinal/css/app.v1.css" type="text/css" />
<!--[if lt IE 9]> <script src="js/ie/html5shiv.js"></script> <script src="js/ie/respond.min.js"></script> <script src="js/ie/excanvas.js"></script> <![endif]-->
</head>
<body class="">
<section class="vbox">
  <header class="bg-white-only header header-md navbar navbar-fixed-top-xs">
    <div class="navbar-header aside bg-info nav-xs"> 
      <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html"><i class="icon-list"></i> </a> 
      <a href="/musicJFinal/" class="navbar-brand text-lt"> <i class="icon-earphones"></i> <img src="/musicJFinal/images/logo.png" alt="." class="hide"> <span class="hidden-nav-xs m-l-sm">ååé³ä¹</span> </a> <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user"> <i class="icon-settings"></i> </a>
    </div>
    <ul class="nav navbar-nav hidden-xs">
      <li> <a href="#nav,.navbar-header" data-toggle="class:nav-xs,nav-xs" class="text-muted"> <i class="fa fa-indent text"></i> <i class="fa fa-dedent text-active"></i> </a> </li>
    </ul>
    <form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search">
      <div class="form-group">
        <div class="input-group"> <span class="input-group-btn">
          <button type="submit" class="btn btn-sm bg-white btn-icon rounded"><i class="fa fa-search"></i></button>
          </span>
          <input type="text" class="form-control input-sm no-border rounded" placeholder="æç´¢é³ä¹">
        </div>
      </div>
    </form>
    <div class="navbar-right ">
      <ul class="nav navbar-nav m-n hidden-xs nav-user user">
        <li class="dropdown"> 
          <a href="#" class="dropdown-toggle bg clear" data-toggle="dropdown"> <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm"> <img src="/musicJFinal/images/a0.png" alt="..."> </span> John.Smith <b class="caret"></b> </a>
          <ul class="dropdown-menu animated fadeInRight">
            <li> <span class="arrow top"></span> <a href="#">ä¿®æ¹åºæ¬ä¿¡æ¯</a> </li>
            <li> <a href="/musicJFinal/myHome">æçä¸»é¡µ</a></li>
           <!--  <li> <a href="#"> <span class="badge bg-danger pull-right">3</span> Notifications </a> </li>
            <li> <a href="docs.html">Help</a> </li> -->
            <li class="divider"></li>
            <li> <a href="modal.lockme.html" data-toggle="ajaxModal" >éåº</a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </header>
  <section>
    <section class="hbox stretch"> 
      <!-- .aside -->
      <aside class="bg-black dk nav-xs aside hidden-print" id="nav">
        <section class="vbox">
          <section class="w-f-md scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2"> <!-- nav -->
              <nav class="nav-primary hidden-xs">
                <ul class="nav bg clearfix">
                  <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted"></li>
                  <li> <a href="/musicJFinal/"> <i class="icon-disc icon text-success"></i> <span class="font-bold">æ¨è</span> </a> </li>
                  <li> <a href="/musicJFinal/genres"> <i class="icon-music-tone-alt icon text-info"></i> <span class="font-bold">åç±»</span> </a> </li>
                  <li> <a href="/musicJFinal/eCard"> <i class="icon-drawer icon text-primary-lter"></i> <b class="badge bg-primary pull-right">6</b> 
                    <span class="font-bold">çµå­åç</span> </a> 
                  </li>
                  <li class="m-b hidden-nav-xs"></li>
                </ul>
              </nav>
              <!-- / nav --> </div>
          </section>
          <footer class="footer hidden-xs no-padder text-center-nav-xs">
            <div class="bg hidden-xs ">
              <div class="dropdown dropup wrapper-sm clearfix"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="thumb-sm avatar pull-left m-l-xs"> <img src="/musicJFinal/images/a3.png" class="dker" alt="..."> <i class="on b-black"></i> </span> <span class="hidden-nav-xs clear"> <span class="block m-l"> <strong class="font-bold text-lt">John.Smith</strong> <b class="caret"></b> </span> <span class="text-muted text-xs block m-l">Art Director</span> </span> </a>
              </div>
            </div>
          </footer>
        </section>
      </aside>
      <!-- /.aside -->
      <section id="content">
        <section class="vbox">
          <section class="scrollable">
            <section class="hbox stretch">
              <aside class="bg-light lter b-r" style="width:400px;">
                <section class="vbox">
                  <section class="scrollable">
                    <div class="wrapper">
                     <section class="panel panel-default">
		                  <div class="panel-body">
		                    <div class="clearfix text-center m-t">
		                      <div class="inline">
		                        <div class="easypiechart" data-percent="75" data-line-width="5" data-bar-color="#4cc0c1" data-track-Color="#f5f5f5" data-scale-Color="false" data-size="134" data-line-cap='butt' data-animate="1000">
		                          <div class="thumb-lg"> 
		                          	<img src="/musicJFinal/images/a5.png" class="img-circle" alt="..."> 
		                          </div>
		                        </div>
		                        <div class="h4 m-t m-b-xs">John.Smith</div>
		                        <small class="text-muted m-b">Art director</small> </div>
		                    </div>
		                  </div>
		                  <footer class="panel-footer bg-info text-center">
		                    <div class="row pull-out">
		                      <div class="col-xs-4">
		                        <div class="padder-v"> <span class="m-b-xs h3 block text-white">245</span> <small class="text-muted">访问量</small> </div>
		                      </div>
		                      <div class="col-xs-4 dk">
		                        <div class="padder-v"> <span class="m-b-xs h3 block text-white">${musicianCon}</span> <small class="text-muted">关注度</small> </div>
		                      </div>
		                      <div class="col-xs-4">
		                        <div class="padder-v"> <span class="m-b-xs h3 block text-white">${listenCount}</span> <small class="text-muted">试听量</small> </div>
		                      </div>
		                    </div>
		                  </footer>
               		 </section>
               		 <div class="btn-group btn-group-justified m-b"> 
	                    <a class="btn btn-rounded bg-info" data-toggle="button"> 
		                    <span class="text"> <i class="fa fa-eye"></i> Follow </span> 
		                    <span class="text-active"> <i class="fa fa-eye"></i> Following </span> 
	                    </a> 
                    	<a class="btn btn-dark btn-rounded"> <i class="fa fa-comment-o"></i> Chat </a> 
		             </div>
		             <section class="panel panel-default text-sm doc-buttons">
	                   <div class="panel-body">
	                  	  <#list posts as post>
	                    	<button class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="${post.name}">${post.name}</button>
	               		  </#list>
	               	   </div>
	                 </section>
	                 <section class="panel panel-default text-sm doc-buttons">
	                   <div class="panel-body">
		                  <#list style as s>
		                  	<button class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="${s.name}">${s.name}</button>
		               	  </#list>
	                   </div>
	                 </section>
		             <div> <small class="text-uc text-xs text-muted">about me</small>
                        <p>Artist</p>
                        <small class="text-uc text-xs text-muted">info</small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat.</p>
                        <div class="line"></div>
                        <small class="text-uc text-xs text-muted">connection</small>
                        <p class="m-t-sm"> <a href="#" class="btn btn-rounded btn-twitter btn-icon"><i class="fa fa-twitter"></i></a> <a href="#" class="btn btn-rounded btn-facebook btn-icon"><i class="fa fa-facebook"></i></a> <a href="#" class="btn btn-rounded btn-gplus btn-icon"><i class="fa fa-google-plus"></i></a> </p>
                      </div>
                    </div>
                  </section>
                </section>
              </aside>
              <aside class="bg-white">
                <section class="vbox">
                  <header class="header bg-light lt">
	                  <ul class="nav nav-tabs pull-left">
	                      <li class="active"><a href="##special" data-toggle="tab"><i class="fa fa-comments text-muted"></i><#if true> 我的专辑</#if><#if false>Ta的专辑</#if> </a></li>
	                      <li class=""><a href="#album" data-toggle="tab"><i class="fa fa-user text-muted"></i><#if true> 我的相册</#if><#if false>Ta 的相册</#if> </a></li>
	                       <li class=""><a href="#info" data-toggle="tab"><i class="fa fa-user text-muted"></i><#if true> 我的信息</#if><#if false>Ta 的信息</#if> </a></a></li>
	                  </ul>
                  </header>
                  <section class="scrollable">
                    <div class="tab-content">
                      <div class="tab-pane active" id="special">
                      	<div class="text-center wrapper"> 
                        	<div class="scrollable padder-lg w-f-md">
		                        <div class="row row-sm">
		                        	<#if true>
		                        		<#list special as sp>
			                        	<div class="col-xs-6 col-sm-3" style="margin-top:20px;">
					                        <div class="item">
					                          <div class="pos-rlt">
					                            <div class="item-overlay opacity r r-2x bg-black">
					                              <div class="center text-center m-t-n"> 
					                              	<a><i class="fa fa-cog i-2x"></i></a> 
					                              </div>
					                              <div style="margin-top:80%;margin-left:5%;margin-right:5%;"> 
						                            <a href="#"><i class="fa fa-pencil i-2x" style="float:left;"></i></a>
						                            <a href="#"><i class="fa fa-times i-2x" style="float:right;"></i></a> 
						                          </div>
						                          <input value="${sp.id}" type="hidden"/>
					                            </div>
					                            <a href="#"><img src="${sp.cover}" style="width:180px;height:200px"alt="" class="r r-2x img-full"></a> </div>
					                          <div class="padder-v"><a href="#" class="text-ellipsis">${sp.name}</a></div>
					                        </div>
					                      </div>
					                      </#list>
		                        	  </#if>
				                    </div>
				                </div>
			                    <ul class="pagination pagination">
					              <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
					              <li class="active"><a href="#">1</a></li>
					              <li><a href="#">2</a></li>
					              <li><a href="#">3</a></li>
					              <li><a href="#">4</a></li>
					              <li><a href="#">5</a></li>
					              <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
					            </ul>
		                	 </div>
                        </div>
                      <div class="tab-pane" id="album">
                        <div class="text-center wrapper"> 
                        	<div class="scrollable padder-lg w-f-md">
		                        <div class="row row-sm">
		                        	<#if true>
		                        		<#list albums as alb>
					                    <div class="col-xs-6 col-sm-3" style="margin-top:20px;">
					                        <div class="item">
					                          <div class="pos-rlt">
					                            <div class="item-overlay opacity r r-2x bg-black">
					                              <div class="center text-center m-t-n"> 
					                              	<a><i class="fa fa-cog i-2x"></i></a> 
					                              </div>
					                              <div style="margin-top:80%;margin-left:5%;margin-right:5%;"> 
						                            <a href="#"><i class="fa fa-pencil i-2x" style="float:left;"></i></a>
						                            <a href="#"><i class="fa fa-times i-2x" style="float:right;"></i></a> 
						                          </div>
						                          <input value="${alb.id}" type="hidden"/>
					                            </div>
					                            <a href="#"><img src="${alb.cover}" alt="" class="r r-2x img-full"></a> </div>
					                          <div class="padder-v"> <a href="#" class="text-ellipsis">${alb.name}</a></div>
					                        </div>
					                    </div>
				                      	</#list>
				                      </#if>
				                      <#if false>
		                        		<#list albums as alb>
					                    <div class="col-xs-6 col-sm-3" style="margin-top:20px;">
					                        <div class="item">
					                          <div class="pos-rlt">
					                            <div class="item-overlay opacity r r-2x bg-black">
					                              <div class="center text-center m-t-n"> <a href="#"><i class="fa fa-th i-2x"></i></a> </div>
					                            </div>
					                            <a href="#"><img src="${alb.cover}" alt="" class="r r-2x img-full"></a> </div>
					                          <div class="padder-v"> <a href="#" class="text-ellipsis">${alb.name}</a></div>
					                        </div>
					                    </div>
				                      	</#list>
				                      </#if>
				                </div>
			                    <ul class="pagination pagination">
					              <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
					              <li class="active"><a href="#">1</a></li>
					              <li><a href="#">2</a></li>
					              <li><a href="#">3</a></li>
					              <li><a href="#">4</a></li>
					              <li><a href="#">5</a></li>
					              <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
					            </ul>
		                	 </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="info">
                        <div class="text-center wrapper"> <i class="fa fa-spinner fa fa-spin fa fa-large"></i> </div>
                      </div>
                    </div>
                  </section>
                </section>
              </aside>
            </section>
          </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a> </section>
    </section>
  </section>
</section>
<!-- Bootstrap --> <!-- App --> 
<script src="/musicJFinal/js/app.v1.js"></script> 
<script src="/musicJFinal/js/charts/easypiechart/jquery.easy-pie-chart.js"></script> 
<script src="/musicJFinal/js/app.plugin.js"></script> 
<script type="text/javascript" src="/musicJFinal/js/jPlayer/jquery.jplayer.min.js"></script> 
<script type="text/javascript" src="/musicJFinal/js/jPlayer/add-on/jplayer.playlist.min.js"></script> 
<script type="text/javascript" src="/musicJFinal/js/jPlayer/demo.js"></script>
<script type="text/javascript">
(function(){
	$('#special').find(".fa-cog").each(function(i){
		var id=$(this).parent().parent().parent().find("input").val();
		$(this).parent().attr("href","mySongs/"+id);
	});
	$('#album').find(".fa-cog").each(function(i){
		var id=$(this).parent().parent().parent().find("input").val();
		$(this).parent().attr("href","/musicJFinal/myHome/myPicture/"+id);
	});
})();

</script>
</body>
</html>
