<!DOCTYPE html>
<html lang="en" class="app">
<head>
<meta charset="utf-8" />
<title>Music</title>
<meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="/musicJFinal/js/jPlayer/jplayer.flat.css" type="text/css" />
<link rel="stylesheet" href="/musicJFinal/css/app.v1.css" type="text/css" />
<!--[if lt IE 9]> <script src="js/ie/html5shiv.js"></script> <script src="js/ie/respond.min.js"></script> <script src="js/ie/excanvas.js"></script> <![endif]-->
</head>
<body class="">
<section class="vbox">
  <header class="bg-black lter header header-md navbar navbar-fixed-top-xs">
    <div class="navbar-header aside bg-success nav-xs"> 
      <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html"><i class="icon-list"></i> </a> 
      <a href="/musicJFinal/" class="navbar-brand text-lt"> <i class="icon-earphones"></i> <img src="/musicJFinal/images/logo.png" alt="." class="hide"> <span class="hidden-nav-xs m-l-sm">ååé³ä¹</span> </a> <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user"> <i class="icon-settings"></i> </a>
    </div>
    <ul class="nav navbar-nav hidden-xs">
      <li> <a href="#nav,.navbar-header" data-toggle="class:nav-xs,nav-xs" class="text-muted"> <i class="fa fa-indent text"></i> <i class="fa fa-dedent text-active"></i> </a> </li>
    </ul>
    <form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search">
      <div class="form-group">
        <div class="input-group"> <span class="input-group-btn">
          <button type="submit" class="btn btn-sm bg-white btn-icon rounded"><i class="fa fa-search"></i></button>
          </span>
          <input type="text" class="form-control input-sm no-border rounded" placeholder="æç´¢é³ä¹">
        </div>
      </div>
    </form>
    <div class="navbar-right ">
      <ul class="nav navbar-nav m-n hidden-xs nav-user user">
        <li class="dropdown"> 
          <a href="#" class="dropdown-toggle bg clear" data-toggle="dropdown"> <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm"> <img src="/musicJFinal/images/a0.png" alt="..."> </span> John.Smith <b class="caret"></b> </a>
          <ul class="dropdown-menu animated fadeInRight">
             <li> <span class="arrow top"></span> <a href="#">ä¿®æ¹åºæ¬ä¿¡æ¯</a> </li>
            <li> <a href="/musicJFinal/myHome">æçä¸»é¡µ</a></li>
           <!--  <li> <a href="#"> <span class="badge bg-danger pull-right">3</span> Notifications </a> </li>
            <li> <a href="docs.html">Help</a> </li> -->
            <li class="divider"></li>
            <li> <a href="modal.lockme.html" data-toggle="ajaxModal" >éåº</a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </header>
  <section>
    <section class="hbox stretch"> 
      <!-- .aside -->
      <aside class="bg-black dk nav-xs aside hidden-print" id="nav">
        <section class="vbox">
          <section class="w-f-md scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2"> <!-- nav -->
              <nav class="nav-primary hidden-xs">
                <ul class="nav bg clearfix">
                  <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted"></li>
                  <li> <a href="/musicJFinal/"> <i class="icon-disc icon text-success"></i> <span class="font-bold">æ¨è</span> </a> </li>
                  <li> <a href="/musicJFinal/genres"> <i class="icon-music-tone-alt icon text-info"></i> <span class="font-bold">åç±»</span> </a> </li>
                  <li> <a href="/musicJFinal/eCard"> <i class="icon-drawer icon text-primary-lter"></i> <b class="badge bg-primary pull-right">6</b> 
                    <span class="font-bold">çµå­åç</span> </a> 
                  </li>
                  <li class="m-b hidden-nav-xs"></li>
                </ul>
              </nav>
              <!-- / nav --> </div>
          </section>
          <footer class="footer hidden-xs no-padder text-center-nav-xs">
            <div class="bg hidden-xs ">
              <div class="dropdown dropup wrapper-sm clearfix"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="thumb-sm avatar pull-left m-l-xs"> <img src="/musicJFinal/images/a3.png" class="dker" alt="..."> <i class="on b-black"></i> </span> <span class="hidden-nav-xs clear"> <span class="block m-l"> <strong class="font-bold text-lt">John.Smith</strong> <b class="caret"></b> </span> <span class="text-muted text-xs block m-l">Art Director</span> </span> </a>
              </div>
            </div>
          </footer>
        </section>
      </aside>
      <!-- /.aside -->
      <section id="content">
        <section class="vbox">
          <section class="w-f-md">
            <section class="hbox stretch bg-black dker"> <!-- side content -->
              <aside class="col-sm-5 no-padder" id="sidebar">
                <section class="vbox animated fadeInUp">
                  <section class="scrollable">
                    <div class="m-t-n-xxs item pos-rlt">
                      <div class="top text-right"> <span class="musicbar animate bg-success bg-empty inline m-r-lg m-t" style="width:25px;height:30px"> <span class="bar1 a3 lter"></span> <span class="bar2 a5 lt"></span> <span class="bar3 a1 bg"></span> <span class="bar4 a4 dk"></span> <span class="bar5 a2 dker"></span> </span> </div>
                      <div class="bottom gd bg-info wrapper-lg"> 
                       	  <span class="h2 font-thin">${specialName}</span> 
                          <span>
                          	<#if true><a href=""><i class="fa fa-plus i-2x" style="margin-left:10px;" ></i></a></#if>
                          	<#if true><a href=""><i class="fa fa-pencil i-2x" style="margin-left:10px;" ></i></a></#if>
                          </span>
	                      <span class="pull-right block h3 font-bold text-success text-u-c"> ${collectCount} </span><br>
	                      <span class="pull-right text-sm ">收藏人数</span> 
                         
                       </div>
                      <img class="img-full" src="${specialCover}" alt="..."> 
                    </div>
                    <ul class="list-group list-group-lg no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                      <#if true>
                      	<#list leftSongs as lSong>
	                      <li class="list-group-item">
	                        <div class="pull-right m-l"> <a href="#" class="m-r-sm"><i class="fa fa-times"></i></a></div>
	                        <a href="#" class="jp-play-me m-r-sm pull-left"> 
	                        	<i class="icon-control-play text"></i> <i class="icon-control-pause text-active"></i> 
	                        </a>
	                        <div class="clear text-ellipsis"> 
	                        	<span>${lSong.name}</span> <span class="text-muted"> -- ${lSong.long}</span> 
	                        </div>
	                      </li>
                      	</#list>
                      </#if>
                      <#if false>
                      	<#list leftSongs as lSong>
	                      <li class="list-group-item">
	                        <div class="pull-right m-l">
		                        <a href="#" class="m-r-sm"><#if true><i class="fa fa-heart-o"></i></#if><#if false><i class="fa fa-heart"></i></#if></a>
		                        <a href="#" class="m-r-sm"><i class="fa fa-cloud-download"></i></a>
	                        </div>
	                        <a href="#" class="jp-play-me m-r-sm pull-left"> 
	                        	<i class="icon-control-play text"></i> <i class="icon-control-pause text-active"></i> 
	                        </a>
	                        <div class="clear text-ellipsis"> 
	                        	<span>${lSong.name}</span> <span class="text-muted"> -- ${lSong.long}</span> 
	                        </div>
	                      </li>
                      	</#list>
                      </#if>
                    </ul>
                  </section>
                </section>
              </aside>
              <!-- / side content -->
              <section class="col-sm-4 no-padder bg">
                <section class="vbox">
                  <section class="scrollable hover">
                    <ul class="list-group list-group-lg no-bg auto m-b-none m-t-n-xxs">
                     <#if true>
                      	<#list rightSongs as rSong>
	                      <li class="list-group-item">
	                        <div class="pull-right m-l"> <a href="#" class="m-r-sm"><i class="fa fa-times"></i></a></div>
	                        <a href="#" class="jp-play-me m-r-sm pull-left"> 
	                        	<i class="icon-control-play text"></i> <i class="icon-control-pause text-active"></i> 
	                        </a>
	                        <div class="clear text-ellipsis"> 
	                        	<span>${rSong.name}</span> <span class="text-muted"> -- ${rSong.long}</span> 
	                        </div>
	                      </li>
                      	</#list>
                      </#if>
                      <#if false>
                      	<#list rightSongs as rSong>
	                      <li class="list-group-item">
	                        <div class="pull-right m-l">
		                        <a href="#" class="m-r-sm"><#if true><i class="fa fa-heart-o"></i></#if><#if false><i class="fa fa-heart"></i></#if></a>
		                        <a href="#" class="m-r-sm"><i class="fa fa-cloud-download"></i></a>
	                        </div>
	                        <a href="#" class="jp-play-me m-r-sm pull-left"> 
	                        	<i class="icon-control-play text"></i> <i class="icon-control-pause text-active"></i> 
	                        </a>
	                        <div class="clear text-ellipsis"> 
	                        	<span>${rSong.name}</span> <span class="text-muted"> -- ${rSong.long}</span> 
	                        </div>
	                      </li>
                      	</#list>
                      </#if>
                    </ul>
                  </section>
                </section>
              </section>
           	  <section class="col-sm-3 no-padder lt">
                <section class="vbox">
                  <section class="scrollable hover">
                    <div class="m-t-n-xxs">
                    	<#list specialLast as spl>
	                      <div class="item pos-rlt specialLast"> 
		                      <a class="item-overlay active opacity wrapper-md font-xs"> 
			                      <span class="text-muted">Search the music you like</span> 
			                      <span class="bottom wrapper-md block">${spl.name}<i class="icon-arrow-right i-lg pull-right"></i></span> 
		                      </a> 
		                      <input value="${spl.id}" type="hidden">
		                      <a href="#"> <img class="img-full" src="${spl.cover}" alt="..." style=""> </a> 
	                      </div>
                      	</#list>
                    </div>
                  </section>
                </section>
              </section>
            </section>
          </section>
          <footer class="footer bg-success dker">
            <div id="jp_container_N">
              <div class="jp-type-playlist">
                <div id="jplayer_N" class="jp-jplayer hide"></div>
                <div class="jp-gui">
                  <div class="jp-video-play hide"> <a class="jp-video-play-icon">play</a> </div>
                  <div class="jp-interface">
                    <div class="jp-controls">
                      <div><a class="jp-previous"><i class="icon-control-rewind i-lg"></i></a></div>
                      <div> <a class="jp-play"><i class="icon-control-play i-2x"></i></a> <a class="jp-pause hid"><i class="icon-control-pause i-2x"></i></a> </div>
                      <div><a class="jp-next"><i class="icon-control-forward i-lg"></i></a></div>
                      <div class="hide"><a class="jp-stop"><i class="fa fa-stop"></i></a></div>
                      <div><a class="" data-toggle="dropdown" data-target="#playlist"><i class="icon-list"></i></a></div>
                      <div class="jp-progress hidden-xs">
                        <div class="jp-seek-bar dk">
                          <div class="jp-play-bar bg"> </div>
                          <div class="jp-title text-lt">
                            <ul>
                              <li></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="hidden-xs hidden-sm jp-current-time text-xs text-muted"></div>
                      <div class="hidden-xs hidden-sm jp-duration text-xs text-muted"></div>
                      <div class="hidden-xs hidden-sm"> <a class="jp-mute" title="mute"><i class="icon-volume-2"></i></a> <a class="jp-unmute hid" title="unmute"><i class="icon-volume-off"></i></a> </div>
                      <div class="hidden-xs hidden-sm jp-volume">
                        <div class="jp-volume-bar dk">
                          <div class="jp-volume-bar-value lter"></div>
                        </div>
                      </div>
                      <div> <a class="jp-shuffle" title="shuffle"><i class="icon-shuffle text-muted"></i></a> <a class="jp-shuffle-off hid" title="shuffle off"><i class="icon-shuffle text-lt"></i></a> </div>
                      <div> <a class="jp-repeat" title="repeat"><i class="icon-loop text-muted"></i></a> <a class="jp-repeat-off hid" title="repeat off"><i class="icon-loop text-lt"></i></a> </div>
                      <div class="hide"> <a class="jp-full-screen" title="full screen"><i class="fa fa-expand"></i></a> <a class="jp-restore-screen" title="restore screen"><i class="fa fa-compress text-lt"></i></a> </div>
                    </div>
                  </div>
                </div>
                <div class="jp-playlist dropup" id="playlist">
                  <ul class="dropdown-menu aside-xl dker">
                    <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                    <li class="list-group-item"></li>
                  </ul>
                </div>
                <div class="jp-no-solution hide"> <span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>. </div>
              </div>
            </div>
          </footer>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a> </section>
    </section>
  </section>
</section>
<!-- Bootstrap --> <!-- App --> <script src="/musicJFinal/js/app.v1.js"></script> 
<script src="/musicJFinal/js/app.plugin.js"></script> 
<script type="text/javascript" src="/musicJFinal/js/jPlayer/jquery.jplayer.min.js"></script> 
<script type="text/javascript" src="/musicJFinal/js/jPlayer/add-on/jplayer.playlist.min.js"></script> 
<script type="text/javascript" src="/musicJFinal/js/jPlayer/demo.js"></script>
<script type="text/javascript">
(function(){
	$('.specialLast').find(".icon-arrow-right").each(function(i){
		var id=$(this).parent().parent().parent().find("input").val();
		$(this).parent().parent().attr("href","/musicJFinal/myHome/mySongs/"+id);
	});
})();
</script>
</body>
</html>
